<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infotop.account.mapper.EmployeeMapper">

<resultMap id="employeeResult" type="Employee">
	<id property="id"  column="id" />
	<result property="name" column="name"/>
	<result property="age" column="age"/>
	<result property="department" column="department"/>
</resultMap>

<select id="getDatagridTotal" resultType="long">
		select count(1) from employee_details where  1=1
		<if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
</select>

<select id="datagridEmployee" resultMap="employeeResult">
		select id,name,age,department from employee_details where 1=1
		<if test="sort != null and sort != ''">
            order by #{sort} #{order}
        </if>
        <if test="page > 0">
            limit #{start},#{end}
        </if>
</select>
<select id="getEmployeeById" resultMap="employeeResult">
		select id,name,age,department from employee_details where id = #{id} 
 </select>
 <insert id="insert" parameterType="Employee" keyProperty="id"
		useGeneratedKeys="true">
  	INSERT INTO employee_details (name, age, department)
    VALUES (#{name}, #{age}, #{department})
  </insert>
   <update id="update"  parameterType="Employee"> 
	UPDATE employee_details SET
	name=#{name},
	age=#{age},
	department=#{department}
	WHERE id=#{id} 
  </update>
  
   <delete id="delete" parameterType="long">
  	DELETE FROM employee_details WHERE id=#{id}
  </delete>
</mapper>
	