<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.infotop.account.mapper.RoleMapper">
  <select id="getId" resultType="long">
  	SELECT max(id) FROM t_role
  </select>
  
 <!--  <select id="getRoles" parameterType="map" resultType="Role">
    SELECT
    	id,
    	name,
   		description
    FROM role
    <where>
    	<if test="id != null">
    		id = #{id}
    	</if>
    	<if test="name != null">
    		AND name = #{name}
    	</if>
    	<if test="description != null">
    		AND description = #{description}
    	</if>
    </where>
  </select> -->

  <!-- <select id="getRoleList" resultType="Role">
    SELECT
    	id,
    	name,
    	description
    FROM role
  </select> -->
  
  <!-- <select id="getRole" resultMap="roleResult">
    SELECT
    	r.id as role_id,
    	r.role_name,
   		r.description,
   		p.id as p_id,
   		p.per_name,
   		p.module,
   		p.privilege
    FROM role r
    LEFT JOIN role_permission rp ON(r.id=rp.role_id)
    LEFT JOIN permission p ON(p.id=rp.permission_id) where r.role_name=#{name}
  </select> -->
  <select id="getAllRole" resultType="Role">
    SELECT
    	id,
    	name,role_type,pid,
    	remark
    FROM role
  </select>
  <select id="getRoleById" resultMap="roleResult">
		 SELECT id,name,role_type,pid,remark from role where id=#{id} 
 </select>
  <select id="getDatagridTotalForRole" resultType="long">
		select count(1) from role where  1=1
		<if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
	</select>
	<insert id="insertRole" parameterType="Role" >
  	INSERT INTO role (id,name,role_type,pid,remark)
    VALUES (#{id},#{name},#{roleType},#{pid}, #{remark})
  </insert>
  <update id="updateRole"  parameterType="Role"> 
	UPDATE role SET
	name=#{name},remark=#{remark}
	WHERE id=#{id} 
  </update>
	<select id="datagridRole" resultMap="roleResult">
		select id,name,role_type,pid,remark from role where 1=1
		<if test="sort != null and sort != ''">
            order by #{sort} #{order}
        </if>
        <if test="page > 0">
            limit #{start},#{end}
        </if>
	</select>
	 <delete id="deleteRolePermissionById"  parameterType="long">
  	DELETE role,role_permission FROM role,role_permission WHERE role.id=#{id} AND role_permission.role_id=#{id}
  </delete>
	<!--  <delete id="deleteRolePermissionById"  parameterType="long">
  	DELETE FROM role_permission WHERE role_id=#{id}
  </delete> -->
	<!-- <select id="datagridRole" resultMap="roleResult">
		select id,name,role_type,pid,remark from role where 1=1
		<if test="sort != null and sort != ''">
            order by #{sort} #{order}
        </if>
        <if test="page > 0">
            limit #{start},#{end}
        </if>
	</select> -->
 <resultMap id="roleResult"  type="Role"> 
		<id property="id"  column="id" />
		<result property="name" column="name"/>
		<result property="roleType" column="role_type"/>
		<result property="pid" column="pid"/>
		<result property="remark" column="remark"/>
		<!--  <collection property="permissionList"  ofType="Permission"> 
			<id property="id"  column="id"/> 
			<result property="pid"  column="pid"/>
			<result property="ckey"  column="ckey"/>
			<result property="pkey"  column="pkey"/>
			<result property="name"  column="name"/>
			<result property="value"  column="value"/>
			<result property="permissionType"  column="permission_type"/>
			<result property="sort"  column="sort"/>
		</collection>  -->
  </resultMap>
  
  <!-- <insert id="insertRole" parameterType="Role" >
  	INSERT INTO role (id,name,description)
    VALUES (#{id},#{name}, #{description})
  </insert>
  
  <insert id="insertRoleMenu" parameterType="map">
  	INSERT INTO menu_role (menu_id,role_id)
    VALUES (#{menu_id}, #{role_id})
  </insert>
  
  <update id="updateRole"  parameterType="Role"> 
	UPDATE role
	<set> 
		<if test="name != null">name=#{name},</if>
		<if test="description != null">description=#{description}</if>
	</set>
	WHERE id=#{id}
  </update>
  
  <update id="updateRoleMenu"  parameterType="map"> 
	UPDATE menu_role SET
	menu_id=#{menu_id}
	WHERE role_id=#{role_id}
  </update>
  
  <delete id="deleteRole"  parameterType="map">
  	DELETE FROM role WHERE id=#{id}
  </delete>
  
  <delete id="deleteRoleMenu"  parameterType="map">
  	DELETE FROM menu_role WHERE role_id=#{role_id}
  </delete> -->
 
  
</mapper>